//
//  flavor2.xcconfig
//  Runner
//
//  Created by Kevin Munc on 2/21/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-flavor2.xcconfig"
#include "Generated.xcconfig"

FLUTTER_TARGET=lib/main_flavor2.dart
